
project_arch.cr.mti
project_arch.mpf
vhdl files/Ram.vhd.bak
vsim.wlf
work/_info
work/_vmake
work/alu/_primary.dat
work/alu/_primary.dbs
work/alu/alu_arcitecture.dat
work/alu/alu_arcitecture.dbs
work/alu/alu_arcitecture.prw
work/alu/alu_arcitecture.psm
work/decoder/_primary.dat
work/decoder/_primary.dbs
work/decoder/arch1.dat
work/decoder/arch1.dbs
work/decoder/arch1.prw
work/decoder/arch1.psm
work/pla/_primary.dat
work/pla/_primary.dbs
work/pla/arch1.dat
work/pla/arch1.dbs
work/pla/arch1.prw
work/pla/arch1.psm
work/reg/_primary.dat
work/reg/_primary.dbs
work/reg/a1.dat
work/reg/a1.dbs
work/reg/a1.prw
work/reg/a1.psm
work/register_entity/_primary.dat
work/register_entity/_primary.dbs
work/register_entity/arch_register.dat
work/register_entity/arch_register.dbs
work/register_entity/arch_register.prw
work/register_entity/arch_register.psm
work/rom/_primary.dat
work/rom/_primary.dbs
work/rom/arch.dat
work/rom/arch.dbs
work/rom/arch.prw
work/rom/arch.psm
work/sig_generator/_primary.dat
work/sig_generator/_primary.dbs
work/sig_generator/arch1.dat
work/sig_generator/arch1.dbs
work/sig_generator/arch1.prw
work/sig_generator/arch1.psm
work/sync_ram/_primary.dat
work/sync_ram/_primary.dbs
work/sync_ram/rtl.dat
work/sync_ram/rtl.dbs
work/sync_ram/rtl.prw
work/sync_ram/rtl.psm
work/tri_state/_primary.dat
work/tri_state/_primary.dbs
work/tri_state/ts.dat
work/tri_state/ts.dbs
work/tri_state/ts.prw
work/tri_state/ts.psm
